<ion-card class="welcome-card">
    <ion-card-header>
        <ion-card-subtitle text-center>Haydirastgele</ion-card-subtitle>
    </ion-card-header>
    <ion-img src="/assets/shapes.svg"></ion-img>

    <ion-card-content>
        <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div text-center>
                    <h4>Giriş</h4>
                </div>
                <div padding>
                    <ion-item>
                        <ion-icon name="person" slot="start"></ion-icon>
                        <ion-input type="text" placeholder="E-Mail"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon name="lock" slot="start"></ion-icon>
                        <ion-input type="password" placeholder="Şifre"></ion-input>
                    </ion-item>
                </div>

                <div text-center>
                    <ion-button (click)="Login()" color="secondary" shape="round" expand="block">Giriş</ion-button>
                    <a routerLink="/register">Üye Ol</a>
                </div>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>