<ion-grid>
    <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

            <div text-center>
                <h4>Register Form</h4>
            </div>

            <div padding text-center>

                <ion-item>
                    <ion-icon name="person-add" slot="start"></ion-icon>
                    <ion-input type="text" placeholder="Full name" required></ion-input>
                </ion-item>


                <ion-item>
                    <ion-icon name="mail" slot="start"></ion-icon>
                    <ion-input type="text" placeholder="E-Mail" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-icon name="call" slot="start"></ion-icon>
                    <ion-input type="text" placeholder="0-500-123-45-67" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-icon name="lock" slot="start"></ion-icon>
                    <ion-input type="password" placeholder="Password" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-icon name="lock" slot="start"></ion-icon>
                    <ion-input type="password" placeholder="Confirm password" required></ion-input>
                </ion-item>
            </div>

            <div text-center>
                <ion-button href="/success" shape="round">OK</ion-button>
            </div>

        </ion-col>

    </ion-row>

</ion-grid>